<div id="collection">
  <div id="collection-content">
    <div class="pane">
      <div class="posts-list"></div>
    </div>
  </div>
  <div id="collection-sidebar">
    <div class="pane">
      <div class="image">
        <img src="https://i.imgur.com/e6DhoLR.jpeg" />
      </div>

      <div class="heading">
        <string class="title">Games / Robots / Cars</string>
        <div class="buttons">
          <button class="button">
            <i class="fa fa-share"></i>
          </button>
          <button class="button">
            <i class="fa fa-ellipsis-v"></i>
          </button>
        </div>
      </div>

      <div class="authorinfo">
        <div class="row author">
          <!--Name-->
          <div class="name">
            Author
            <sup class="counter">3</sup>
          </div>
        </div>

        <div class="row">
          <dl>
            <dt>Publications</dt>
            <dd>3</dd>
            <dt>Posts</dt>
            <dd><i class="fa fa-window-restore"></i></dd>
          </dl>
        </div>

        <div class="row">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>

    <div class="pane">
      <span class="heading">Posts</span>
      <ol id="collection-posts" class="scrollable">
        <li class="active">
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>

        <li>
          <img src="https://i.imgur.com/1EGos4y.png" alt="">
          <div class="description">
            <strong>Lorem Ipsum is simply dummy text of the printing and ...</strong>
            <span class="date">12.12.2022</span>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
