<!--Collections-->
<div class="authorcollections pane">
  <!--Heading-->
  <strong class="item heading"><%= e('collections') %></strong>

  <!--List-->
  <div class="list">
    <div class="collection">
      <div class="image">
        <img src="https://i.imgur.com/4dm7j8D.png" />
      </div>
      <div class="info">
        <div class="description">
          <div class="icon">
            <i class="fa fa-window-restore"></i>
          </div>
          <div class="title">
            Samsung / 2020-21
            <span>34 publications</span>
          </div>
        </div>
        <a href="#" class="actions">
          <i class="fa fa-ellipsis-v"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="buttons">
    <!--Show all-->
    <a href="collections?author=<%- app.platform.api.authorlink(author.address.toString('hex')) %>" class="btn-show-collections button fit"><%= e('showall') %></a>
  </div>
</div>
