<!--List of users that I'm following-->
<div class="authorfollowing pane">
  <!--Heading-->
  <strong class="item heading"><%= e('following2') %> <sup class="counter"><%- deep(author, 'data.subscribes_count') || 0 %></sup></strong>

  <!--List-->
  <div class="list" data-list="following"></div>

  <% if(deep(author, 'data.subscribes_count') > 10) { %>
  <div class="buttons">
    <!--Show all-->
    <a href="#" class="btn-show-following button fit"><%= e('showall') %></a>
  </div>
  <% } %>
</div>
