<%
var name = app.platform.api.name(author.address);
var letter = name ? name[0] : '';
%>

<div class="authorinfo <% if(app.curation()) {%> displayedall <% } %> pane">
  <!--Avatar-->
  <div class="avatar">
    <% var src = deep(author, 'data.image'); %>
    <div elementsid="author_usericon_<%-src || ''%>" ban=".gif" class="usericon" contain="none" image="<%-src || '*'%>">
      <% if(!src && letter) {%>
        <span class="letter">
            <%- letter.toUpperCase() %>
        </span>
      <% } else if (!src) { %>
        <i class="far fa-user"></i>
      <% } %>

      <% if(app.platform.ui.markUser) { %>
        <%= app.platform.ui.markUser(author.address) %>
      <% } %>

      <!--<i class="status-icon"></i>-->
      <i class="verified-icon"></i>
    </div>
  </div>

  <!--Name-->
  <% if(deep(author, 'data.name')) { %>
    <div class="name">
      <%- filterXSS(deep(author, 'data.name')) %>
      <!--<span class="status">Knight</span>-->
    </div>
  <% } %>

  <div class="stat">
    <!--Reputation-->
    <dl>
      <dt><%= e('rstate') %></dt>
      <dd><i class="fa fa-star"></i> <%- (deep(author, 'state.reputation') || deep(author, 'data.reputation') || 0).toFixed(1) %></dd>
    </dl>

    <!--Followers-->
    <dl>
      <dt><%= e('followers2') %></dt>
      <dd><%- deep(author, 'data.subscribers_count') || 0 %></dd>
    </dl>

    <!--Posts-->
    <dl elementsid="author_postcnt" class="postcnt">
      <dt><%= e('posts') %></dt>
      <dd class="label"><%- deep(author, 'data.postcnt') || 0 %></dd>
    </dl>
  </div>

  <!--Buttons-->
  <div class="buttons">
    <% if(isItMe) { %>
    <!--Edit profile-->
    <a class="button fit btn-edit-profile" href="userpage?id=test"><%= e('e13186') %></a>

    <!--Share-->
    <a class="button" href="#"><i class="fa fa-share-alt"></i></a>
    <% } else { %>
      <!--Chat-->
      <a class="button fit btn-chat" href="#"><i class="fa fa-comments"></i>&nbsp;<%= e('e13279') %></a>
    <% } %>
  </div>
</div>
