<div class="authorlentawrappermain">


    <% if(!app.curation()) {%>

        <div class="newsharewrapper"></div>
        <div class="authorsearchwrapper">
          <ul class="tabs">
            <li class="active" data-type="all"><a href=""><i class="fa fa-list"></i> All</a></li>
            <li data-type="best"><a href=""><i class="fa fa-star"></i> Best</a></li>
            <li data-type="share"><a href=""><i class="fa fa-window-restore"></i> Posts</a></li>
            <li data-type="video"><a href=""><i class="fa fa-video"></i> Videos</a></li>
            <li data-type="article"><a href=""><i class="fa fa-quote-left"></i> Articles</a></li>
          </ul>
          <div class="authorsearchicon">
            <div elementsid="authorsearchicon_icon" class="icon">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <div class="authorsearch"></div>
        </div>
        <div class="authorlentawrapper">
        </div>

    <% } else { %>

        <div class="curationWrapper">
            <span>You can see the posts of this user only on <a elementsid="https://bastyon.com" href="https://bastyon.com">bastyon.com</a></span>
        </div>

    <% } %>


</div>
