<div class="authorlentawrappermain">


    <% if(!app.curation()) {%>

        <div class="authorsearchwrapper">
          <ul class="tabs">
            <li class="active"><a href="">Posts</a></li>
            <li><a href="">Articles</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="">Collections</a></li>
          </ul>
          <div class="authorsearch"></div>
        </div>
        <div class="newsharewrapper"></div>
        <div class="authorlentawrapper">
        </div>

    <% } else { %>

        <div class="curationWrapper">
            <span>You can see the posts of this user only on <a elementsid="https://bastyon.com" href="https://bastyon.com">bastyon.com</a></span>
        </div>

    <% } %>


</div>
